@use '../util' as u;

.whoAreWeStrip{
    background: var(--c_section-bg-secondary);
    color: var(--c_main-text-on-dark);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoAreWeContent{
    padding: 4rem var(--padding-main-x);
    width: 80ch;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-size: u.px-to-rem(28);
        font-weight: bold;
        margin: 2rem 0;
    }

    p{
        text-align: center;
        font-size: u.px-to-rem(14);
    }
}

.logo{
    width: u.px-to-rem(90);
}

.awardsContainer{
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.px-to-rem(4);
    max-width: 100%;
    
    p{
        font-size: u.px-to-rem(12);
    }
}

.awardsRow{
    --gap: #{ u.px-to-rem(8) };

    display: flex;
    align-items: end;
    gap: var(--gap);
    
    width: u.px-to-rem(300);
    max-width: 100%;

    .awardImg{
        filter: invert(100%);

        width: calc(100% / 6 - var(--gap));
        &-large{
            width: calc(100% / 3 - var(--gap));
        }
    }
}

.linkWrapper{
    margin-top: 1.25rem;

    a {
        display: block;
        text-decoration: none;
    }
}





@media screen and (min-width: 1300px){
    .whoAreWeStrip{
        h3{
            font-size: u.px-to-rem(42);
        }
    }
}

